<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Recibe</servlet-name>
        <servlet-class>Calculos.Recibe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibeDatos</servlet-name>
        <servlet-class>Calculos.RecibeDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculaRaiz</servlet-name>
        <servlet-class>Calculos.CalculaRaiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Recibe</servlet-name>
        <url-pattern>/Recibe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibeDatos</servlet-name>
        <url-pattern>/RecibeDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculaRaiz</servlet-name>
        <url-pattern>/CalculaRaiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
